<!DOCTYPE html>
<html data-ng-app="app">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TeamCity Theatre</title>
  <base href="@Url.Content("~")" />
  @Styles.Render("~/content/stylebundle")
  @Styles.Render("~/app/stylebundle")
</head>
<body>
  <div id="mainnav" data-ng-include="'app/mainnav/mainnav.html'"></div>
  <div id="body" class="container-fluid">
    @RenderBody()
  </div>
  @Scripts.Render("~/scripts/scriptbundle")
  @Scripts.Render("~/app/scriptbundle")
  @RenderSection("scripts", false)
</body>
</html>